/* SAP Fiori Icons */
@font-face {
	font-family: 'SAP Fiori Icons';
	src:
		url('https://github.com/bbjino26/linhdmp.github.io/raw/main/SAP-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}