/* SAP Fiori Icons */
@font-face {
	font-family: 'SAP Fiori Icons';
	src:
		url('https://github.com/bbjino26/linhdmp.github.io/raw/master/CustomSAPFont/SAP-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*
https://github.com/bbjino26/linhdmp.github.io/raw/master/CustomSAPFont/SAP-icons.ttf
https://linhdmp.github.io/CustomSAPFont/SAP-icons.ttf
*/
